{"Name":"LaurensLovelyLandscapes on dev / ljhaywar@us.ibm.com","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"ljhaywar@us.ibm.com","Space":"dev"},"Name":"LaurensLovelyLandscapes","Timeout":60},"Url":"http://LaurensLovelyLandscapes-347269ae-b762-4432-9207-67a525da1c91.ng.bluemix.net","ManageUrl":"https://ace.ng.bluemix.net#/resources/appGuid=7a790469-ae2f-4ee3-8f11-f108f626150d&orgGuid=13097400-539d-43e9-a0e0-8a80137e0438&spaceGuid=6c208fe6-3460-47d7-9e32-1d23f884385c","Path":"app/manifest.yml","UrlTitle":"LaurensLovelyLandscapes","Type":"Cloud Foundry"}