{"Name":"LaurensLovelyLandscapes on dev / ljhaywar@us.ibm.com","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"ljhaywar@us.ibm.com","Space":"dev"},"Name":"LaurensLovelyLandscapes","Timeout":60},"Url":"http://LaurensLovelyLandscapes-9c6f1116-9a5f-4870-81b4-a82643cdd5a1.ng.bluemix.net","Path":"","UrlTitle":"LaurensLovelyLandscapes","Type":"Cloud Foundry"}